{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Annuler l'événement</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
        <a href="{{ path('app_event_index') }}">Annuler</a>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
