{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://media1.tenor.com/m/bmL21Em6rzsAAAAC/ha-ha-point.gif" alt="Les Simson Nelson: 'Ha Ha'">
        </div>
        <div class="col-6 bg-filter-eni p-3">
            <h1>Au revoir {{app.user.username}}</h1>
            <p class="fs-3">Tes vraiment trop chiant(e) et la communauté a décider de plus voir ta tronche.</p>
        </div>
    </div>
</div>
{% endblock %}
