{% extends 'base.html.twig' %}

{% block title %}Envoi d'email de modification de password{% endblock %}

{% block body %}
    <p>
        Si votre email correspond à un compte, un email sera envoyé avec le lien de modification de votre mot de passe. 
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas cette email, regarder vos SPAM ou <a href="{{ path('app_forgot_password_request') }}">Renvoyer</a>.</p>
{% endblock %}
