{# {% extends '@EasyAdmin/layout.html.twig' %} #}
{% extends '@!EasyAdmin/layout.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block title %}Gestion des Utilisateurs{% endblock %}

{% block main %}
<h1>Administration du site</h1>

{% endblock %}
